*{
    margin: 0px;
    padding: 0px;
}
.menu-content{
    background-color: black;
    color: white;
    padding: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.menus{
    display: flex;
    

}
.item{
    margin-right: 15px;
    padding-right: 9px;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}
 /* kono leker opur niagale color change hobe*/
.item:hover{ 
    color: blue;

}

.log{
    width:150px;
}
.logs{
    width: 300px;
}
.baner-size{
    width: 400px;
}
.baner-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    border: 2px solid rgb(20, 1, 26);
    border-radius: 5px;
    background-image: url(../images/background.png), linear-gradient(45deg, rgb(8, 8, 8), rgb(58, 58, 58));
    color: white;

}
.titel{
    font-size: 55px;
    font-weight: bold;

    
}
.pera{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.baton{
    background-color: red;
    color: white;
    padding: 10px;
    border: 3px;
    border-radius: 4px;
    margin: 10px;

}
.baner-had-paragraph{
    margin: 40px;
}
.about-continer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.had{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
    margin: 20px;
    cursor: pointer;

}
.had:hover{
    color: blue;
}
.ak{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.aj{
    font-size: 18px;
    font-weight: 400;
}
.icon{
    width: 70px;
}
.margin-all{
    margin-top: 5px;
}
.mar{
    margin: 25px;
    background-color: grey;
}
.box{
    background-color: black;
    width: 250px;
    height: 400px;
    box-shadow: 4px 4px 15px gray;
    text-align: center;
    padding: 10px;
    color: white;
    justify-content: center;
    border: 2px solid blueviolet;
    border-radius: 10px;
    box-shadow: 10px 10px 30px blueviolet;


}
.box-title{
    padding: 10px;
}
.box-p{
    padding: 5px;
}
.service-continer{
    display: flex;
    justify-content: space-around;
    
}
.bakc{
    background-image: url("../images/background.png"), linear-gradient(45deg, rgb(8, 8, 8), rgb(58, 58, 58));
    height: 620px;

}
.shadowi{
    border: 3px;
    box-shadow: 3px 3px 15px 1px blue;
}
.ex{
    color: white;
}
.foter-conten{
   background-color: rgb(21, 21, 21);
    color: white;
   
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.im{
    width: 150px;
}
.bb{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 80px;
    margin-bottom: 150px;
    
    
}
.ti{
    padding: 10px;
}
.bol{
    font-size: 30px;
    font-weight: bolder;
    
}
.bol:hover{
    color: blue;
    cursor: pointer;
}
.uk{
    background-color: rgb(21, 21, 21);
    color: white;
    justify-content: center;
    align-items: center;
    
    
}
hr{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.copy{
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

